h4{
    text-align: center;
}
.mini_result{
    margin-top: 40px;
}
.footer_div{
    bottom: 0;
    position: fixed;
    background-color: rgb(56, 228, 56);
    width: 100%;
    height: 35px;
    text-align: center;
    font-size: 15px;
    line-height: 35px;
    box-shadow: 6px -5px 5px gray;
}
.holder{
    background-color: lightblue; border-radius: 10px; width: 40%; margin-left: 400px;
}